body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#car-image{
	max-width:100%; 
	max-width:100%;
}

#marker-panel {
  width: 300px
}

#marker-panel {
  font-size: 14px
}

.svg-container {
  margin: auto !important;
}

.gtitle {
  font-family: Arial !important;
  font-size: 17 !important;
  font-weight: bold !important;
  stroke: none !important;
  stroke-width: 0 !important;
  fill: rgb(0, 0, 0) !important;
}