<!DOCTYPE html>
<html>
<head>
	<title>Most Popular Cars by State</title>
</head>
<body>
	<a href="/map">Map</a>
	<br>
	<a href="/data">Data</a>
	<br>
	<a href="/plots">Plots</a>
	<br><br><br>
	<a href="http://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_outline_500k.json" target="_blank">GeoJSON source file</a>
	<br>
	<a href="https://github.com/tpj728/Project_2/blob/master/state_car_info.json" target="_blank">Modified JSON used in this project</a>
	<br>
	<a href="http://eric.clst.org/tech/usgeojson/" target="_blank">Other JSON files</a>
	<br><br><br>
	<iframe src="https://www.usatoday.com/story/news/nation-now/2017/08/30/these-most-popular-cars-and-trucks-every-state/478537001/" width=1000 height=1000></iframe>
</body>
</html>