<!DOCTYPE html>
<html>
<head>
	<title>Most Popular Cars by State</title>
</head>
<body>
	<a href="/map">Map</a>
	<br><br>
	GeoJSON source: <a href="http://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_outline_500k.json">
		http://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_outline_500k.json</a>
		<br>
	Other helpful resources: <a href="http://eric.clst.org/tech/usgeojson/">
		http://eric.clst.org/tech/usgeojson/</a>
	<br><br>
	<iframe src="https://www.usatoday.com/story/news/nation-now/2017/08/30/these-most-popular-cars-and-trucks-every-state/478537001/" width=1000 height=1000></iframe>
</body>
</html>